@import "tailwindcss";

:root {
  --font-primary: 'Jost';
  --font-secondary: 'Handlee';
  --gray: rgb(245 245 245);
  --gray-dark: rgb(119 128 130);
  --gray-light: rgb(236 236 236);
  --green-dark: rgb(8 46 33);
  --green-hover: rgb(12 111 111);
  --green-light: rgb(10 93 93);
  --black: rgb(2 2 2);
  --white: rgb(255 255 255);
}

body {
  color: var(--black);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 1.65rem;
}

.handwriting {
  font-family: var(--font-secondary);
}

.bg-green-dark {
  background-color: var(--green-dark);
  color: var(--gray-light);
}

.btn-green-light {
  background-color: var(--green-light);
  color: var(--gray-light);
  cursor: pointer;
}

.hh-title {
  font-family: var(--font-secondary);
  font-size: 1.85rem;
}

.hh-sub-title {
  color: var(--black)
}

.hh-name-category,
.hh-price {
  color: var(--green-light);
}

.hh-bg-form,
.hh-bg-form-login {
  background-color: var(--gray);
}

.hh-bg-form input,
.hh-bg-form-login input {
  background-color: var(--white);
}

.hh-bg-form input,
.hh-bg-form textarea,
.hh-bg-form select {
  background-color: var(--white);
  font-size: 0.8rem;
}

.hh-bg-form-login button {
  background-color: var(--green-light);
  cursor: pointer;
}

.hh-bg-form label {
  font-size: 0.9rem;
  padding-right: 10px;
}

.hh-border-gray {
  border-top: 1px solid var(--gray-light);
}

.hh-text-gray {
  color: var(--gray);
}

.hh-text-green-light {
  color: var(--green-light)
;}